/* Mobile-first styles */
.navbar {
  background-color: var(--surface-color);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

.navbar-brand h1 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Space between logo and title */
}
.navbar-logo {
  height: 50px; /* Fixed height for the logo */
  width: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure the logo fits within its container */
}
/* Larger screens (tablet and desktop) */
@media (min-width: 768px) {
  .navbar {
    justify-content: flex-start;
    padding: 1rem 2rem;
  }

  .navbar-brand h1 {
    font-size: 1.8rem;
  }
}